@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@font-face {
  font-family: 'Signature';
  src: url('../fonts/Waiting_on_the_Bridge.ttf') format('truetype');
}

.logo {
  font-family: 'Signature', sans-serif;
}

.heading {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-style: normal;
}
.para {
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
}
